<h1>Listing works</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Body</th>
    <th>Description</th>
    <th>User</th>
  </tr>

<% for work in @works %>
  <tr>
    <td><%=h work.category.name %></td>
    <td><%=h work.title %></td>
    <td><%=h work.body %></td>
    <td><%=h work.description %></td>
    <td><%=h work.user.name %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New work', new_work_path %>
