<h1>Listing copyrights</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for copyright in @copyrights %>
  <tr>
    <td><%=h copyright.name %></td>
    <td><%=h copyright.description %></td>
    <td><%= link_to 'Show', copyright %></td>
    <td><%= link_to 'Edit', edit_copyright_path(copyright) %></td>
    <td><%= link_to 'Destroy', copyright, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New copyright', new_copyright_path %>
