<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<%= render :partial => 'layouts/head' %>

	<body>
		<div id="hero">
		  <div class="container">
			<h1 id="logo"><a href="/">Swiftkick Press</a></h1>
			<div id="tagline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</div>
		  </div>
		</div>
	
		<div id="main_content">
			<div class="container">
				<%= render :partial => 'layouts/nav' %>
	
				<div id="news">
					News goes here
				</div>
			
				<div id="featured_works">
					Featured works by category
				</div>
			
				<div id="featured_authors">
					Featured authors
				</div>
	
				<%= yield :layout %>
	
			</div>
		</div>
		
		<div id="sub_content">
			<div class="container">
				<h2>Newly added works</h2>
				<ul id="works_list">
					<li>blah</li>
					<li>blah</li>
					<li>blah</li>
					<li>blah</li>
				</ul>
				
				<div id="google_ad">
					Google Ad!
				</div>
			</div>
		</div>
		
		<%= render :partial => 'layouts/utility_nav' %>
		<%= render :partial => 'layouts/footer' %>
		<%= render :partial => 'layouts/usernav' %>

	</body>
</html>